.todo {
  padding: 88px 0 40px;

  &__form {
    border-top: 1px solid #BBBBBB;
  }

  &__wrapper-form {
    margin-bottom: 26px;
    border-bottom: 1px solid #BBBBBB;
    padding: 16px 0 8px;

    .todo__text {
      display: block;

      &.strike {
        text-decoration: line-through;
      }
    }
    
    textarea {
      width: 100%;
      display: none;
    }

    .edit-icon {
      display: block;
    }

    .save-icon {
      display: none;
    }

    &.editing {
      .todo__text {
        display: none;
      }

      .edit-icon {
        display: none;
      }

      .save-icon {
        display: block;
      }

      textarea {
        display: block;
      }
    }
  }

  &__wrapper-checked-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__checked-wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &__checked {
    width: 18px;
    height: 18px;
    margin-right: 9px;
    // border: 1px solid #889DEA;
    // outline: none;
    // border: none;
  }

  &__date-create-todo {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #889DEA;
  }
  &__wrapper-btn {
    margin-right: 27px;
    display: flex;
    align-items: center;

    button {
      background: none;
      border: 0;
      margin-left: 8px;
      width: 24px;
      height: 24px;

      &:hover {
        svg {
          path {
            stroke: #889DEA;
          }
        }
      }

      svg {
        path {
          stroke: #AFAFAF;
        }
      }
    }
  }

  &__btn-remove {
    margin-left: 8px;
  }

  &__input-text {
    width: 100%;
    // margin-left: 26px;
    margin-top: 10px;

    input {
      width: 100%;
      padding: 8px 0 8px 26px;
      border: 1px solid #C7C7C7;
      outline: none;
      &:focus {
        border: 1px solid #889DEA;
      }
    }
  }
  &__create-task-btn {
    width: 208px;
    height: 48px;
    display: block;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #FFF;
    background-color: #88EAA9;
    border-radius: 10px;
    border: none;
    margin: 0 auto;
  }
}